<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>ShiNekkoNET - Chamados</title>
  <link rel="stylesheet" href="../css/estilo.css"> <!-- Seu CSS geral -->
</head>
<body>
    <header>
        <h1>ShiNekkoNet</h1>
        <nav>
            <a href="view/login.html">Login</a>
            <a href="view/cadastro.html">Cadastro</a>
            <a href="">Chamadas</a>
            <a href="">Serviços</a>
        </nav>
    </header>
    <main>
        <div class="busca-chamada">
            <form action="" method="post">
                <input type="text" placeholder="Digite aqui seu código de chamado" id="barra-pesquisa" name="cxtexto">
                <input type="submit" value="Pesquisar" id="botao-pesquisar">
            </form>
        </div>
        <div class="elementos-chamada">
            <div class="codigo">Código</div>
            <div class="cliente">cliente</div>
            <div class="descricao">Descrição</div>
            <div class="status">Status</div>
        </div>
        <!-- Aqui vai o  resto das chamadas, ou seja, enquanto tiver chamadas ele vai acumulando e mostrando -->
        <div class="chamadas-feitas">
            <!--Aqui-->
        </div>

        <div class="novo-chamado">
            <a href=""><button>Novo Chamado</button></a>
        </div>
    </main>
    <footer>

        <div class="fale-conosco">
            <p>Ligue: 119000-0000</p>
        </div>

        <div class="email">
            <p>Email: admin@gmail.com</p>
        </div>

    </footer>
</body>
</html>