<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>ShiNekkoNET - Chamados</title>
  <link rel="stylesheet" href="../css/estilo.css"> <!-- Seu CSS geral -->
</head>
<body>
    <header>
        <h1>ShiNekkoNet</h1>
        <nav>
            <a href="view/login.html">Login</a>
            <a href="view/cadastro.html">Cadastro</a>
            <a href="">Chamadas</a>
            <a href="">Serviços</a>
        </nav>
    </header>
    <main>
        
    </main>
    <footer>

        <div class="fale-conosco">
            <p>Ligue: 119000-0000</p>
        </div>

        <div class="email">
            <p>Email: admin@gmail.com</p>
        </div>

    </footer>
</body>
</html>